@import lib.model.TodoCategory
@(vv: model.ViewValueHome, 
  categorySeq: Seq[lib.model.TodoCategory#EmbeddedId]
  )(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@common.Default(vv){
  <table class="table" id="todoList">
    <tr>
      <th>名前</th>
      <th>Slug</th>
      <th>色</th>
      <th></th>
    </tr>
    @for(category <- categorySeq){
      <tr>
        <th>@category.v.name</th>
        <td>@category.v.slug</td>
        <td><font color=@category.v.color.name>■</font></td>
        <td><a href="@{routes.CategoryController.getCategory(category.id.toInt)}"><span>編集</span></a></td>
        <td>
          @helper.form( action = helper.CSRF( routes.CategoryController.deleteCategory(category.id.toInt ) ) ){
            <input type="submit" value="削除">
          }
        </td>
      <tr>
    }
    <tr>
      <th><a href="@{routes.CategoryController.addCategoryHome}"><span>追加</span></a></th>
    </tr>
  </table>
  <a href="@{routes.TodoController.getTodoList}"><span>戻る</span></a>

}